{% extends 'base.html' %}
{% block content %}

<div class="row">
    <form action="{{ url_for('update_recipe', recipe_id=recipe._id) }}" method="POST" class="col s12 add-recipe-form">
        <div class="row">
            <div class="input-field col s12 m6">
                <i class="material-icons prefix">access_alarm</i>
                <input id="duration" name="duration" type="text" class="validate" value="{{recipe.duration}}" required>
                <label for="icon_prefix">Duration</label>
            </div>
            <div class="input-field col s12 m6">
                <i class="material-icons prefix">people</i>
                <input id="serving" name="serving" type="tel" class="validate" value="{{recipe.serving}}" required>
                <label for="icon_telephone">Serving</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col-xsm s12">
                <i class="material-icons prefix food-icon">local_dining</i>
                <input id="food_name" name="food_name" type="text" class="validate" value="{{recipe.food_name}}"
                    required>
                <label for="icon_prefix">Food Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col-xsm s12">
                <i class="material-icons prefix country-icon">public</i>
                <input id="country" name="country" type="text" class="validate" value="{{recipe.country}}" required>
                <label for="icon_prefix">Country Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">format_list_numbered</i>
                <textarea id="ingredients" name="ingredients" class="materialize-textarea"
                    required>{{recipe.ingredients}}</textarea>
                <label for="icon_prefix">Ingredients</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">assignment</i>
                <textarea id="preparation" name="preparation" class="materialize-textarea"
                    required>{{recipe.preparation}}</textarea>
                <label for="icon_prefix2">Preparation</label>
            </div>
        </div>
        <div class="row">
            <button class="save-btn btn waves-effect waves-light" type="submit" name="action">Save
                <i class="material-icons"></i>
            </button>
        </div>
    </form>
</div>

{% endblock %}