{% extends 'base.html' %}
{% block content %}

<div class="row our-row">
    <div class="col s12 homepage-text">
        <div>
            <h1>Welcome to EasyCook</h1>
            <h5>in our website you are going to see different recipes from all around the world and also you can be part
                of
                our
                community and create your own recipes and share it with others.
            </h5>
        </div>
        <hr>
        <div>
            <h2>Let's get your first recipe done !</h2>
        </div>
        <div class="wrap">
            <a href="{{ url_for('add_recipe')}}"><button class="button">Create</button></a>
        </div>
    </div>
</div>
{% endblock %}