{% extends 'base.html' %}
{% block content %}
<ul class="collapsible ul-recipes">
    {% for recipe in recipes %}
    <li>
        <div class="collapsible-header">
            <div class="col s4">
                <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}"
                    class="waves-effect waves-light btn small-btn">Edit</a>
                <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}"
                    class="waves-effect waves-light btn small-btn" style="background-color: #ce1515c4;">Delete</a>
            </div>
            <div class="col s4 recipe-headline">
                <strong>
                    <span>Food => {{recipe.food_name}}</span>
                </strong>
            </div>
            <div class="col s4 recipe-headline">
                <strong>
                    <span>Country => {{recipe.country}}</span>
                </strong>
            </div>
        </div>
        <div class="collapsible-body">
            <p>{{recipe.ingredients}}</p>
            <p>{{recipe.preparation}}</p>
        </div>

    </li>
    {% endfor %}
</ul>
<div>

</div>
{% endblock %}