{% extends 'base.html' %}
{% block content %}

<!-- <nav>
    <div class="nav-wrapper">
        <form>
            <div class="input-field">
                <input id="search" type="search" required>
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
            </div>
        </form>
    </div>
</nav> -->

<ul class="collapsible ul-recipes">
    {% for recipe in recipes %}
    <li>
        <div class="collapsible-header">
            <div class="col s4">
                <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}"
                    class="waves-effect waves-light btn small-btn">Edit</a>
                <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}"
                    class="waves-effect waves-light btn small-btn" style="background-color: #ce1515c4;">Delete</a>
            </div>
            <div class="col s4 recipe-headline food-name">
                <strong>
                    <span><i class="material-icons prefix food-icon">local_dining</i>{{recipe.food_name}}</span>
                </strong>
            </div>
            <div class="col s4 recipe-headline country-name">
                <strong>
                    <span><i class="material-icons prefix country-icon">public</i>{{recipe.country}}</span>
                </strong>
            </div>
        </div>
        <div class="collapsible-body">
            <h6>Ingredients:</h6>
            <p>=>{{recipe.ingredients}}</p>
            <h6 class="preparation-steps">Preparation Steps:</h6>
            <p>=>{{recipe.preparation}}</p>
        </div>

    </li>
    {% endfor %}
</ul>
{% endblock %}